antiorm==1.2.1
asgiref==3.3.4
beautifulsoup4==4.9.3
certifi==2021.5.30
chardet==3.0.4
click==8.0.1
colorama==0.4.4
Cython==0.29.23
db==0.1.1
db-sqlite3==0.0.1
distro==1.5.0
dj-database-url==0.5.0
Django==3.2.3
django-heroku==0.3.1
filelock==3.0.12
gluonnlp==0.10.0
graphviz==0.8.4
gunicorn==20.1.0
huggingface-hub==0.0.8
idna==2.6
joblib==1.0.1
kobert @ file:///C:/Users/%EA%B9%80%EC%88%98%ED%98%84/Desktop/project/honeylyrics/Server/AI/modeling/KoBERT
lxml==4.6.3
mxnet==1.7.0.post2
mysqlclient==2.0.3
numpy==1.19.5
packaging==20.9
pandas==1.2.4
psycopg2==2.9.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
regex==2021.4.4
requests==2.18.4
sacremoses==0.0.45
scikit-build==0.11.1
semantic-version==2.8.5
sentencepiece==0.1.95
setuptools-rust==0.12.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
tokenizers==0.10.3
toml==0.10.2
torch==1.7.1
tqdm==4.61.1
transformers==4.7.0
typing-extensions==3.10.0.0
urllib3==1.22
whitenoise==5.2.0
